{
    admin off
    auto_https disable_redirects
}

:8081 {
    encode zstd gzip

    header {
        -Server
        X-Content-Type-Options nosniff
        Referrer-Policy no-referrer
        X-Frame-Options DENY
    }

    reverse_proxy preview-service:8080 {
        header_up X-Forwarded-Proto {scheme}
        header_up X-Forwarded-Host {host}
    }
}
